
<style>
    h1,
    .h1 {
        font-size: 2.5rem;
        text-align: center;
        font-size: 45px
    }

    p {

        color: #5e0094;
        font-size: 1.5rem;
        text-align: center;
        padding: 30px;
        margin-top: 50px;
        margin-bottom: 0px;
        margin-left: 50px;
        margin-right: 50px;

    }

    .blinkme {
        animation: blinker 1.5s linear infinite;

    }

    @keyframes blinker {
        50% {
            opacity: 0;
        }
    }
</style>

<h1 class="title">Overview</h1>
<div class="overview-wrapper">

    <div class="item item1">Backlog</div>
    <div class="item item2">Todo</div>
    <div class="item item1">Doing</div>
    <div class="item item2">Done</div>
    
    <div class="item task-container">
        {{#each backlog}}
            <div class="subitem task dropdown">{{task_id}}
                <div class="dropdown-content">
                    
                    <div>
                        User: {{first_name}} 
                        <br>
                        Task: {{description}}
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
    <div class="item task-container">
        {{#each todo}}
            <div class="subitem task dropdown">{{task_id}}
                <div class="dropdown-content">
                    
                    <div>
                        User: {{first_name}} 
                        <br>
                        Task: {{description}}
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
    <div class="item task-container">
        {{#each ongoing}}
            <div class="subitem task dropdown">{{task_id}}
                <div class="dropdown-content">
                    
                    <div>
                        User: {{first_name}} 
                        <br>
                        Task: {{description}}
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
        <div class="item task-container">
        {{#each done}}
            <div class="subitem task dropdown">{{task_id}}
                <div class="dropdown-content">
                    
                    <div>
                        User: {{first_name}} 
                        <br>
                        Task: {{description}}
                    </div>
                </div>
            </div>
        {{/each}}
    </div>

</div>

<div class="blinkme">
        <!-- Display the countdown timer in an element -->
        <p id="demo"></p>
        <script>
            // Set the date we're counting down to
            var countDownDate = new Date("April 5, 2019 17:00").getTime();

            // Update the count down every 1 second
            var x = setInterval(function () {

                // Get todays date and time
                var now = new Date().getTime();

                // Find the distance between now and the count down date
                var distance = countDownDate - now;

                // Time calculations for days, hours, minutes and seconds
                var days = Math.floor(distance / (1000 * 60 * 60 * 24));
                var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                var seconds = Math.floor((distance % (1000 * 60)) / 1000);

                // Display the result in the element with id="demo"
                document.getElementById("demo").innerHTML = days + "d " + hours + "h "
                    + minutes + "m " + seconds + "s ";

                // If the count down is finished, write some text 
                if (distance < 0) {
                    clearInterval(x);
                    document.getElementById("demo").innerHTML = "EXPIRED";


                }
            }, 1000);

        </script>
    </div>







