<h1 class="title">Overview</h1>
<div class="overview-wrapper">
    
    <div class="item item1">Backlog</div>
    <div class="item item2">Todo</div>
    <div class="item item1">Doing</div>
    <div class="item item2">Done</div>
    
    <div class="item task-container">
        {{#each backlog}}
            <div class="subitem task dropdown">{{task_id}}
                <div class="dropdown-content">
                    
                    <div>
                        User: {{first_name}} 
                        <br>
                        Task: {{description}}
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
    <div class="item task-container">
        {{#each todo}}
            <div class="subitem task dropdown">{{task_id}}
                <div class="dropdown-content">
                    
                    <div>
                        User: {{first_name}} 
                        <br>
                        Task: {{description}}
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
    <div class="item task-container">
        {{#each ongoing}}
            <div class="subitem task dropdown">{{task_id}}
                <div class="dropdown-content">
                    
                    <div>
                        User: {{first_name}} 
                        <br>
                        Task: {{description}}
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
        <div class="item task-container">
        {{#each done}}
            <div class="subitem task dropdown">{{task_id}}
                <div class="dropdown-content">
                    
                    <div>
                        User: {{first_name}} 
                        <br>
                        Task: {{description}}
                    </div>
                </div>
            </div>
        {{/each}}
    </div>

</div>



